{% extends 'base.html' %}

{% block extra_content %}
<div class="col-span12">
{% for album in albums.object_list %}
	<strong>{{ album.title }}</strong> - ({{ album.image_set.count }} images)
	<ul>
		{% for img in album.images %}
		<li><a href="{{ media_url }}{{ img.image.name }}"><img border="0" height="80" alt="{{ img.image.name }}" src="{{ media_url }}{{ img.image.name }}"/></a></li>
		{% endfor %}
	</ul>
	<hr>
{% endfor %}

{% if albums.object_list and albums.paginator.num_pages > 1 %}
<ul class="pagination">
	{% if albums.has_previous %}
	<li><a href="?page={{ albums.previous_page_number }}">&laquo;</a></li>
	{% endif %}
	<li class="active">{{ albums.numer }} of {{ albums.paginator.num_pages }}</li>
	{% if albums.has_next %}
	<li><a href="?page={{ albums.next_page_number }}">&raquo;</a></li>
	{% endif %}
</ul>
{% endif %}
</div>
{% endblock %}

